
    <div id="title-wrapper">
      <h1 id="title">Mongo-Lion</h1>
      <h2 id ="subtitle"><i>Let Mongo-Lion hunt articles for you!</i></h2>
    </div>

{{!-- Comment Modal --}}

<div class="modal fade modalComment" id="commentModal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comments for {{this.title}}</h4>
            </div>
            <div class="modal-body">
                {{#if this.comment}}
                    {{#each this.comment}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="previousComments"> {{this.body}}</p>
                                <button type="button" class="btn btn-danger deleteComment" data-comment-id={{this._id}} data-article-id={{this.article}}>X</button>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>No notes for this article yet.</h4>
                        </div>
                    </div>
                {{/if}}
                <div class="form-group">
                    <textarea id="commentText{{this._id}}" class="form-control" rows="4" placeholder="New Comment"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary saveComment" data-id={{this._id}}>Save Comment</button>
            </div>
        </div>
    </div>
</div>


{{!-- Article Section --}}

    <div id="content-wrapper">
         {{#if article}}
            {{#each article}}
            <div class="card">
              <div class="card-body">
                <a href ={{this.link}} target="_blank"><h2 class="card-title text-dark bg-warning">
                    {{this.title}}</h2></a>       
                <p class="card-text">
                    {{this.summary}}</p>
                    <button type="button" id="save-button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                    <button type="button" id="comment-button" class="btn btn-primary save"
                     data-toggle="modal" data-target="#commentModal"{{this._id}} data-id={{this._id}}>Leave Comment</button>                  
                </div>
            </div>
            <br>
            {{/each}}
            {{else}}

{{!-- If no articles are available --}}

        <div class="card" id="whoops-card">
            <div class="card-title bg-danger">
            <h4>Whoops. Looks like we don't have any new articles.</h4>
            </div>
            <div class="card-body">
            <h3>Press the Hunt New Articles button</h3> 
            </div>
         </div>
        {{/if}}
    </div>   
    <br><br><br>   
    {{!-- <div id="comments"></div> --}}

